<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>admin</title>
		<script type="text/javascript" src="//code.jquery.com/jquery.min.js"></script> 
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script> 
		<link rel="stylesheet" type="text/css" href="//s3.amazonaws.com/maroo.info/css/aristo.css" />
		<style type="text/css">
			body { margin: 0 }
		</style>
		<script type="text/javascript">
		$(function() {
			$('button').button();
		});
		</script>
	</head>
	<body>
		<div id="top"></div>
		<menu>
			<li>menu 1</li>
			<li>menu 2</li>
			<li>menu 3</li>
		</menu>
		<div id="content">
			admin dashboard
			<button>test</button>
			<button>test2</button>
		</div>
		<div id="footer">
			footer
		</div>
	</body>
</html>

